.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #000000bf;
    display: none;
}

.modal_js {
    display: block;
}

.modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.modal__container__close {
    display: flex;
    justify-content: flex-end;
}

.modal__container__close i {
    cursor: pointer;
    font-size: 25px;
    color: grey;
}

.modal__container__close i:hover {
    color: #000;
}

.modal__container__headline {
    text-align: center;
    margin-bottom: 20px;
}

.modal__container__headline p {
    display: none;
    font-size: 25px;
}

.modal__container__headline .activeDiscount {
    display: block;
}

.modal__container__headline h1 {
    font-size: 25px;
}

.modal__container__form {
    width: 100%;
    margin: 0 auto;
}

.modal__container__form form .error {
    border: 1px solid red!important;
}

.modal__container__form form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.modal__container__form form select {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.modal__container__form__hide {
    display: none;
}

.modal__container__form form input[type="button"] {
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    border: none;
    background: none;
    background-color: #ec2d34;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s linear;
}

.modal__container__form form input[type="button"]:hover {
    transform: scale(1.05);
}

.modal__container__form form p {
    font-size: 12px;
    text-align: center;
}

.modal__container__form form p a {
    text-decoration: underline;
}